- test:
    timeout:
      minutes: {{ timeout }}
    definitions:
    - repository: {{ test_definitions }}
      from: url
      compression: zstd
      path: automated/linux/ltp/ltp.yaml
      parameters:
        SKIP_INSTALL: 'true'
        TST_CMDFILES: '{{ cmdfile|default(name) }}'
        SKIPFILE: '/tuxtest/skipfiles/{{ arch }}/ltp-{{ name }}'
        ENVIRONMENT: 'production'
        TIMEOUT_MULTIPLIER: '3'
        LTP_TMPDIR: '/scratch'
        LTP_INSTALL_PATH: '/usr/lib/ltp-testsuite/'
      name: ltp-{{ name }}

