{% set timeout = 1000 %}

- test:
    timeout:
      minutes: {{ timeout }}
    docker:
      image: git.morello-project.org:5050/morello/morello-ci-containers/morello-android-platform-tools
      network_from: "{{ tmpdir.name }}"
    definitions:
    - repository: https://git.morello-project.org/morello/morello-ci-pipelines.git
      from: git
      path: lava/test-definitions/bionic/testdef.yaml
      name: bionic
      parameters:
        USERDATA_URL: "{{ parameters.USERDATA }}"
        TEST_PATHS: "nativetest64 nativetestc64"
        GTEST_FILTER: "{{ parameters.GTEST_FILTER|default("string_nofortify.*-string_nofortify.strlcat_overread:string_nofortify.bcopy:string_nofortify.memmove") }}"
