{% set timeout = 30 %}

- test:
    timeout:
      minutes: {{ timeout }}
    docker:
      image: git.morello-project.org:5050/morello/morello-ci-containers/morello-android-platform-tools
      network_from: "{{ tmpdir.name }}"
    definitions:
    - repository: https://git.morello-project.org/morello/morello-ci-pipelines.git
      from: git
      path: lava/test-definitions/lldb/testdef.yaml
      name: lldb
      parameters:
        LLDB_TESTS_URL: "{{ parameters.LLDB_URL }}"
        TC_URL: "{{ parameters.TC_URL }}"

